<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>template</title>
<link rel="stylesheet" href="css/template.css" type="text/css"/>
<style type="text/css">
@import url(css/template_sezione_verde.css);
</style>
</head>
<body>
<div id="container">
  <div id="header">
    <div id="navigazione">
      <ul id="point">
        <li class="" id="nero"><a class="" href="">HOME</a></li>
        <li class="current" id="giallo"><a class="" href="">ATTRAZIONI</a>
          <ul class="sub_giallo">
            <li class="" id="sub_giallo_first"><a href="">Discoteche</a></li>
            <li class="current" id="sub_giallo_last"><a href="">Spiaggie</a></li>
          </ul>
        </li>
        <li class="" id="verde"><a class="" href="">EVENTI</a>
          <ul class="sub_verde">
            <li class=""><a href="">Calendario</a></li>
            <li class=""><a href="">Per Categoria</a></li>
            <li class=""><a href="">Per Area/Località</a></li>
            <li class=""><a href="">Per Attrazioni</a></li>
            <li class=""><a href="">Per Servizio Specifico</a></li>
          </ul>
        </li>
        <li class="" id="blu"><a class="" href="">FOTO</a>
          <ul class="sub_blu">
            <li class=""><a href="">Salento e Località</a></li>
            <li class=""><a href="">Attrazioni</a></li>
            <li class=""><a href="">Eventi</a></li>
            <li class=""><a href="">ArtiAttivisti</a></li>
          </ul>
        </li>
        <li class="" id="arancione"><a class="" href="">AREE</a>
          <ul class="sub_arancione">
            <li class=""><a href="">Le Località</a></li>
            <li class=""><a href="">Come arrivarci</a></li>
            <li class=""><a href="">Muoversi sul posto</a></li>
            <li class=""><a href="">Mappa</a></li>
          </ul>
        </li>
        <li class="" id="celeste"><a class="" href="">RUBRICHE</a>
          <ul class="sub_celeste">
            <li class=""><a href="">Arte, cultura e storia</a></li>
            <li class=""><a href="">Notte, musica e divertimenti</a></li>
            <li class=""><a href="">Mare</a></li>
            <li class=""><a href="">Sport</a></li>
            <li class=""><a href="">Natura, paesaggi e parchi</a></li>
            <li class=""><a href="">Shopping</a></li>
            <li class=""><a href="">Gastronomia e cucina tipica</a></li>
            <li class=""><a href="">Folklore e tradizioni</a></li>
            <li class=""><a href="">Informazioni utili e servizi</a></li>
          </ul>
        </li>
        <li class="" id="rosa"><a class="" href="">ARTIATTIVISTI</a>
          <ul class="sub_rosa">
            <li class=""><a href="">Djs</a></li>
            <li class=""><a href="">Bands e musicisti</a></li>
          </ul>
        </li>
        <li class="" id="grigio"><a class="" href="">INSERISCI</a>
          <ul class="sub_grigio">
            <li class=""><a href="">Attrazioni</a></li>
            <li class=""><a href="">Eventi</a></li>
            <li class=""><a href="">Articoli/Rubriche</a></li>
            <li class=""><a href="">Foto</a></li>
            <li class=""><a href="">ArtiAttivisti</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div id="testata">
      <div id="logo">
        <h1>iSalento</h1>
      </div>
      <div id="image"> </div>
    </div>
  </div>
  <div id="pagina_centrale">
    <div id="tl"></div>
    <div id="tr"></div>
    <div id="navigazione_laterale">
      <ul class="nav_lat_elenco nav_lat_elenco_giallo">
        <li class="nav_lat_titolo_giallo"><a href="#">Attrazioni</a></li>
        <li><a href="#">Discoteche</a></li>
        <li><a href="#">Spiaggie</a></li>
      </ul>
      <ul class="nav_lat_elenco nav_lat_elenco_verde">
        <li class="nav_lat_titolo_verde"><a href="#">Collabora anche tu</a></li>
        <li><a href="#">Proponi un articolo</a></li>
        <li><a href="#">Aggiungi foto</a></li>
        <li><a href="#">Segnala evento</a></li>
        <li><a href="#">Segnala attrazioni</a></li>
        <li><a href="#">Le tue idee e commenti</a></li>
      </ul>
      <!-- <ul class="nav_lat_elenco"id="sectionLink_sx3">
        <li id="section_sx3"><a href="#">Utenti</a></li>
        <li id="relatedLink_sx8"><a href="#">Iscrivimi</a></li>
        <li id="relatedLink_sx9"><a href="#">Login</a></li>
        <li id="relatedLink_sx10"><a href="#">Username</a></li>
        <li id="relatedLink_sx11"><a href="#">Password</a></li>
      </ul>-->
    </div>
    <div id="extra">
      <ul class="nav_lat_elenco nav_lat_elenco_verde" >
        <li class="nav_lat_titolo_verde"><a href="#">Attrazioni</a></li>
        <li><a href="#">Test1</a></li>
        <li><a href="#">Test2</a></li>
        <li><a href="#">Test3</a></li>
        <li><a href="#">Test4</a></li>
        <li><a href="#">Test5</a></li>
        <li><a href="#">Test6</a></li>
        <li><a href="#">Test7</a></li>
        <li><a href="#">Test8</a></li>
        <li><a href="#">Test9</a></li>
        <li><a href="#">Test10</a></li>
      </ul>
      <ul class="nav_lat_elenco nav_lat_elenco_giallo">
        <li class="nav_lat_titolo_giallo"><a href="#">section2</a></li>
        <li><a href="#">Test11</a></li>
        <li><a href="#">Test12</a></li>
        <li><a href="#">Test13</a></li>
        <li><a href="#">Test14</a></li>
        <li><a href="#">Test15</a></li>
        <li><a href="#">Test16</a></li>
      </ul>
    </div>
    <div id="pagina_centrale_senza_navigazioni">
      <div id="percorso_pagina_corrente"> <a href="../../new grafica/new template/base.php" >Base</a> > <a href="../../new grafica/new template/base1.php" >Base 1</a> </div>
      <div id="contenuto">
        <div id="intestazione">
          <!--<div id="box_foto_articolo"> <img alt="" src="../../immagini/harrods.jpg"></img> </div>-->
          <h1><a href="">Michel Tcherevkoff: Shoe-Fleur: A Footwear Fantasy</a></h1>
          <p> DatabMario RossiasdfasdfMario Rossi da databMario Rossi da databMario Rossi da databMario Rossi da databMario Rossi da databMario Rossi da databMario Rossi da databMario Rossi da databMario Rossi da databMario Rossi da databMario Rossi da databMario Rossi da databMario Rossi da databMario Rossi da databMario Rossi </p>
          <div class="clearer">&nbsp;</div>
        </div>
        <div id="cornice_box">
          <div id="cornice_box_annidato">
            <div id="luogo_e_data">
              <h2><a href="">Michel Tcherevkoff: Shoe-Fleur: A Footwear Fantasy</a></h2>
            </div>
            <div id="articolo">
              <p> And on Björk's latest tour, Volta, he has streamlined the artist's electronic music-making orchestra. Today the tracks that were created using dozens of samplers And on Björk's latest tour, Volta, he has streamlined the artist's electronic music-making orchestra. Today the tracks that were created using dozens of samplers, gizmos and computers are triggered and synched with a few <a href="">MacBook</a> Pros running Logic Pro and Ableton<b> Live</b>. It's the simplest and most streamlined system we've ever used on tour, says Pollard. It's also the most flexible, and it gives Björk and the rest of the band freedom to play almost any song in her repertoire.</p>
              <p> And on Björk's latest tour, Volta, he has streamlined the artist's electronic music-making orchestra. Today the tracks that were created using dozens of samplers And on Björk's latest tour, Volta, he has streamlined the artist's electronic music-making orchestra. Today the tracks that were created using dozens of samplers, gizmos and computers are triggered and synched with a few MacBook Pros running Logic Pro and Ableton Live. It's the simplest and most streamlined system we've ever used on tour, says Pollard. It's also the most flexible, and it gives Björk and the rest of the band freedom to play almost any song in her repertoire.</p>
            </div>
            <div id="autore"> Ambra </div>
          </div>
        </div>
      </div>
      <p> <a href="http://validator.w3.org/check?uri=referer"><img
            src="http://www.w3.org/Icons/valid-xhtml10"
            alt="Valid XHTML 1.0 Transitional" height="31" width="88" /></a> </p>
    </div>
    <div id="footer"> <a href="#">iSalento project</a> | <a href="#">Mappa del sito</a> | <a href="#">Contatti</a> | &amp; copy; 2007 iSalento London </div>
  </div>
</div>
</body>
</html>
