



/*FORMATTAZIONE SPECIFICA PER UN MODELLO di blocchetto elenco VERDE (eventi)*/

.nav_lat_elenco_verde{	
	background-color:#bbfbbf;
}

/*.nav_lat_elenco_giallo,.nav_lat_elenco_verde{
	margin-bottom:20px;
}*/


/*FORMATTAZIONE SPECIFICA PER IL TITOLO*/ 
ul.nav_lat_elenco_verde li.nav_lat_titolo_verde a{ 
	background: url(../Images/nav_lat_titolo_verde.jpg) no-repeat #26b32e ;  /*da cambiare a seconda della sezione*/
	border-bottom:2px solid #26b32e;
	color:#ffffff;/*da cambiare a seconda della sezione*/

}

.nav_lat_elenco_verde a:link{
	border-bottom: 1px solid #26b32e;/*da cambiare a seconda della sezione*/
	color: #196c1d;/*da cambiare a seconda della sezione*/
}


.nav_lat_elenco_verde a:visited{
	border-bottom: 1px solid #26b32e;/*da cambiare a seconda della sezione*/
	background-image:  url("");
	color: #196C1D;/*da cambiare a seconda della sezione     CAMBIATOOOOOO*/
}

.nav_lat_elenco_verde a:hover{
	border-bottom: 1px solid #26b32e;/*da cambiare a seconda della sezione*/
	background-color: #96f89c;/*da cambiare a seconda della sezione*/
}
