/* CSS template_sezione_grigio - sezione utenti */


/*************************************************************/
/* REGOLE GENERALI di TEMPLATE grigio                       
/*************************************************************/
body {
	background: url(../IMMAGINI/linea_grafica_grigio3.jpg) repeat-x #fff;
}

#testata #image {
	border-left:2px solid #d2d0d0;
	border-right:2px solid #d2d0d0;
}
