
/*************************************************************/
/* contenuto_middle_right
/*************************************************************/
#contenuto_middle_right{
	float:right;
	width:275px;
	height:369px;
	margin:-15px -40px 0px 0px;
	padding:60px 0px 0px 20px;
	position:absolute;
	right:40px;
	background-color:#F7F4F4;
	border:1px solid #e2dede;
}

/*SELETs*/
#contenuto_middle_right label{
	margin-right:10px;
}

#contenuto_middle_right button {
	margin-left:195px;
}

/*LINKs*/
#contenuto_middle_right ul{	
	margin-top:80px;
}

#contenuto_middle_right ul li{
	list-style-type:none;
	width:200px;
	height:25px;
}

#contenuto_middle_right ul li .cmr_links{
	width:245px;
	display:block;
	border:1px solid #E2DEDE;
	background-color:#FFFFFF;
	overflow:hidden;
}

#contenuto_middle_right .frecce_blu_dx{
	background:transparent url(../Images/frecce_blu_dx.gif) no-repeat right;
	padding-right:20px;
	position:relative;
	top:-20px;
	left:220px;
}